<section class="p-4">
    <h1 class="text-3xl font-bold font-montserrat">Todos los productos {{ currentPage() }}</h1>
    <h2 class="text-xl mb-5">Para todos los gustos</h2>

    <app-pagination
    [totalPages]="productsResource.value()?.pages ?? 0"
    [currentPage]="currentPage()"
    />

    @if (productsResource.isLoading()) {
        <div class="flex h-full items-center justify-center">
            <span class="loading loading-ring loading-xl"></span>
        </div>
    }
    @if (productsResource.error()) {
        <div class="flex h-full items-center justify-center">
            <span class="text-red-500">Ocurrio un error al obtener los productos</span>
        </div>
    }
    @if(!productsResource.isLoading() && productsResource.hasValue()) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
            @for (product of productsResource.value().products; track product.id; let index = $index) {
                <app-product-card [product]="product" />
            }
        </div>
    }
</section>
